:root {
  --primary: #bee3db;
  --secondary: #555b6e;
  --highlight: #2e6c70;
  --dark: hsl(186, 14%, 43%);
  --medium-dark: hsl(184, 14%, 56%);
  --medium-light: #bee3db;
  --light: #f6f6f6;
  --white: #faf9f9;
}
