@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Medium-grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Lighter-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --side: 30vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

h4 {
  font-size: 3em;
  color: var(--strong-cyan);
}

p {
  color: var(--Medium-grayish-cyan);
  font-size: 14px;
}

.form-wrapper input {
  border: none;
  background: var(--Lighter-grayish-cyan);
  padding: 0.25em 1em;
  margin: 0.5em 0;
  color: var(--very-dark-cyan);
  font-weight: 700;
  font-size: 1.25em;
  width: 100%;
  border-radius: 5px;
  text-align: right;
  border: 2px solid var(--Lighter-grayish-cyan);
}

.form-wrapper input:focus {
  outline: none;
  border: 2px solid var(--strong-cyan);
}

body {
  background: var(--Light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-wrapper {
  width: 50px;
  position: absolute;
  top: 0;
  margin: 7em;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: var(--White);
  border-radius: 1.5em;
}

.content .card {
  height: var(--side);
  width: var(--side);
  min-height: 350px;
  min-width: 350px;
  margin: 2em;
  padding: 1em;
  border-radius: 1em;
}

.inputs {
  background: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.inputs .img-wrapper {
  position: absolute;
}

.inputs .img-wrapper img {
  position: relative;
  top: -2.5em;
  left: 1em;
}

.inputs .select-tip .btn-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em 0;
}

.inputs .select-tip .btn-wrapper .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  color: var(--White);
  background-color: var(--very-dark-cyan);
  font-size: 20px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.inputs .select-tip .btn-wrapper .select:hover {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.inputs .select-tip .btn-wrapper .nope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: var(--Lighter-grayish-cyan);
  color: var(--very-dark-cyan);
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 5px;
  text-align: right;
  padding: 0 1em;
  margin: 0;
  width: 100%;
}

.inputs .select-tip .btn-wrapper .nope:focus {
  outline: none;
  border: 2px solid var(--strong-cyan);
}

.inputs .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputs .title-wrapper .error-msg {
  text-align: right;
}

.inputs .title-wrapper .error-msg p {
  color: red;
}

.inputs .error input:focus {
  outline: none;
  border: 2px solid red;
}

.outputs {
  background: var(--very-dark-cyan);
  color: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outputs .cash-outputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outputs .cash-outputs .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 2em;
}

.outputs .reset-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em;
  padding: 0.5em 0;
  border-radius: 5px;
  color: var(--very-dark-cyan);
  background: var(--strong-cyan);
  font-weight: bold;
  font-size: 18px;
  opacity: 0.3;
  cursor: pointer;
}

.outputs .reset-btn:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */